<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="domainName" value="192.168.0.11" />
    <add key="APIHostPath" value="http://192.168.0.11/MisWebAPI/" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Accounts_WebServiceSoap" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="999999999" useDefaultWebProxy="true" />
        <binding name="Staff_ManagementSoap" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="999999999" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IITDoseDataServiceBridge" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="999999999" useDefaultWebProxy="true" />
      </basicHttpBinding>
    
    </bindings>
    <client>
      <endpoint address="http://192.168.0.11/exprologic/Accounts_webservice.asmx" binding="basicHttpBinding" bindingConfiguration="Accounts_WebServiceSoap" contract="rmAccounts.Accounts_WebServiceSoap" name="Accounts_WebServiceSoap" />
      <endpoint address="http://192.168.0.11/ITDoseChandanBridge/ITDoseDataServiceBridge.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IITDoseDataServiceBridge" contract="itdoseBridge.IITDoseDataServiceBridge" name="BasicHttpBinding_IITDoseDataServiceBridge" />
      <endpoint address="http://192.168.0.11/exprologic/Staff_Management.asmx" binding="basicHttpBinding" bindingConfiguration="Staff_ManagementSoap" contract="HumanResource.Staff_ManagementSoap" name="Staff_ManagementSoap" />
     
    </client>
  </system.serviceModel>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
